#tabela{
    width: 100%;
    min-height: 60vh;
    text-align: center;
    margin: 30px auto;
    background-color: aqua;
}

#rankTabela{
    display: flex;
    flex-direction: column;
    align-items: center;
   

    thead{
         border: 1px solid black;
    }

    tbody{
         border: 1px solid black;
    }
    tr{
border: 1px solid black;
    }
    td{
         border: 1px solid black;
    }
}


.adicionarDados{
    display: none;
}

.adicionarDados-active{
    display: block;
}